<%- include('header') %>
<div class="card mg-l-auto mg-r-auto col-12 col-sm-12 col-md-8 col-lg-5">
    <img class="auto-scale-img" src="https://http.dog/<%= status %>.jpg" alt="An image of an HTTP error dog">
    <div class="card-body"><p class="card-text"><%= message %></p></div>
</div>
<%- include('footer') %>